:root {
  --background-color: #d7d9ce;
  --font-color: #313952;
  --nav-color: rgb(154, 197, 221);
  --button-color: #79babc;
  --placeholder-color: #a8cac5;
}

body {
  margin: 0;
  background-color: var(--background-color);
  min-height: 100%;
  margin-bottom: 0;
  overflow: hidden;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 150px auto 25px;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  min-height: 100vh;
  row-gap: 10px;
}

nav {
  background-color: var(--nav-color);
  height: 100%;
  grid-area: nav;
  border: 1px solid black;
  padding: 0;
  font-family: montserrat;
}

.nav {
  list-style: none;
  display: flex;
  font-size: 150%;
  font-weight: bolder;
  justify-content: space-around;
  padding: 0;
  align-items: center;
}

.logo {
  height: 150px;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.card-product1,
.card-product2,
.card-product3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba (0, 0, 0, 0.1);
  border: 2px solid black;
  text-align: center;
  box-sizing: border-box;
  height: fit-content;
  background-color: #d7dacc;
  transition: transform 0.3s ease;
}

.card-grid {
  margin: 20px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "left-product center-product right-product";
}

.card-product1 {
  grid-area: left-product;
}

.card-product2 {
  grid-area: center-product;
}

.card-product3 {
  grid-area: right-product;
}

.cap {
  width: 70%;
}

.pullover {
  width: 70%;
}

.t-shirt {
  width: 70%;
}

h2 {
  font-family: cinzel;
}

button {
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--nav-color);
  font-size: 20px;
  font-weight: bold;
  font-family: montserrat;
  text-align: center;
}

.price{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: x-large;
  font-family: cinzel;
}

@media (max-width: 1100px) {
  body {
    overflow: scroll;
  }

  .container {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 150px auto 25px;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  min-height: 100vh;
  row-gap: 10px;
}


  .logo {
    height: 150px;
  }

  h2 {
    font-size: 45px;
  }

  .price{
    font-size: 40px;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "first-product"
      "second-product"
      "third-product";
    row-gap: 30px;
  }

  .card-product1 {
    grid-area: first-product;
    transform: translateY(0%);
  }

  .card-product2 {
    grid-area: second-product;
    transform: translateY(0%);
  }

  .card-product3 {
    grid-area: third-product;
    transform: translateY(0%);
  }
}

.card-product1:hover,
.card-product2:hover,
.card-product3:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

p {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 35px;
  font-family: cinzel;
}

@media (max-width: 440px) {
  body {
    overflow: scroll;
  }

  .logo {
  height: 100px;
}

  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 130px auto 25px;
  }
  .nav {
    font-size: 70%;
  }
}

.card-product1:hover,
.card-product2:hover,
.card-product3:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
