:root {
  --background-color: #d7d9ce;
  --font-color: #313952;
  --nav-color: rgb(154, 197, 221);
  --button-color: #79babc;
  --placeholder-color: #a8cac5;
}

body {
  margin: 0;
  background-color: var(--background-color);
  margin-bottom: 0;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px auto 25px;
  grid-template-areas:
    "nav-team"
    "main-team"
    "footer-team";
  min-height: 100vh;
  row-gap: 20px;
}

nav {
  background-color: var(--nav-color);
  grid-area: nav;
  border: 1px solid black;
  padding: 0;
  font-family: montserrat;
  grid-area: nav-team;
}

.nav {
  list-style: none;
  display: flex;
  font-size: 150%;
  font-weight: bolder;
  justify-content: space-around;
  padding: 0;
  align-items: center;
}

.logo {
  height: 150px;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.card-team1,
.card-team2,
.card-team3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  text-align: center;
  box-sizing: border-box;
  height: fit-content;
  background-color: #d7dacc;
  transition: transform 0.3s ease;
}

.card-grid {
  margin: 20px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left-product center-product right-product";
}

.card-team1 {
  grid-area: left-product;
}

.card-team2 {
  grid-area: center-product;
}

.card-team3 {
  grid-area: right-product;
}

.djoerdji {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 360px;
}

.levin {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 360px;
}

.lorin {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 360px;
}

h2 {
  font-family: cinzel;
}

button {
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
}

main {
  grid-area: main-team;
}

footer {
  grid-area: footer-team;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--nav-color);
  font-size: 20px;
  font-weight: bold;
  font-family: montserrat;
}

.card-team1:hover,
.card-team2:hover,
.card-team3:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card-team1:hover .levin {
  content: url("/Bilder/Team/levin-seitlich.JPG");
}
.card-team2:hover .lorin {
  content: url("/Bilder/Team/lorin-seitlich.JPG");
}

.card-team3:hover .djoerdji {
  content: url("/Bilder/Team/djordje-seitlich.JPG");
}

p {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: x-large;
  font-family: cinzel;
}


@media (max-width: 1100px) {
  body{
    overflow: scroll;
  }
.card-grid {
  margin: 20px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 25px;
  grid-template-areas: 
  "left-product" 
  "center-product"
  "right-product";
}
}

@media (max-width: 440px){
    .logo {
  height: 100px;
}

  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 25px;
  }
  .nav {
    font-size: 100%;
  }

}